.homepage-container {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
}

.homepage-background {
    width:  100vw;
}