
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
}

.background-top-half,
.background-bottom-half {
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: #1a1a1a;
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  will-change: transform;
  transform: translateZ(0);
}

.background-top-half {
  top: 0;
}

.background-top-half.revealed {
  transform: translateY(-100%);
}

.background-bottom-half {
  top: 50%;
}

.background-bottom-half.revealed {
  transform: translateY(100%);
}

.loading-screen-info-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 10;
}

.loading-bar-container {
  width: 350px;
  height: 24px;
  border: 2px solid #ffffff;
  position: relative;
}

.loading-bar {
  width: 0;
  height: 100%;
  background-color: #ffffff;
  border: 4px solid #1a1a1a;
  box-sizing: border-box;
}

.percentage {
  font-size: 18px;
  color: #fff;
  display: flex;
  flex-direction: column;
  place-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  font-family: "Minecraft-Regular"
}
