html {
    width: 100%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#root {
    width: 100%;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Google Sans Flex", sans-serif;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}